# Data Types
1. Numbers
2. Strings
3. Booleans
4. Operators

In [3]:
# Text Type:       str
# Numeric Types:   int, float, complex
# Sequence Types:  list, tuple, range
# Mapping Type:    dict
# Set Types:       set, frozenset
# Boolean Type:    bool
# Binary Types:    bytes, bytearray, memoryview

In [ ]:
x = "Hello World" # str
x = 20  # int
x = 20.5 # float
x = 1j  # complex
x = ["apple", "banana", "cherry"] # list 
x = ("apple", "banana", "cherry") # tuple
x = range(6) # range
x = dict(name="John", age=36) # dict
x = {"apple", "banana", "cherry"} # set
x = frozenset({"apple", "banana", "cherry"}) # frozenset
x = True # bool
x = b'Hello' # bytes
x = bytearray(5) # bytearray
x = memoryview(bytes(5)) # memoryview

In [ ]:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

## 2. Numbers

In [5]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [9]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [10]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [14]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)

print(a, type(a))
print(b, type(b))
print(c, type(c))

1.0 <class 'float'>
2 <class 'int'>
(1+0j) <class 'complex'>

### random

In [15]:
import random
print(random.randrange(1, 10))

9

## 3. Strings
more string methods: https://www.w3schools.com/python/python_strings_methods.asp

In [64]:
# single or double quotes
print("Hello, me printing the word 'Hallo'.")
print('Hello, me printing the word "Hallo".')
print("We are the so-called \"Vikings\" from the north.")

Hello, me printing the word 'Hallo'.
Hello, me printing the word "Hallo".
We are the so-called "Vikings" from the north.

### Escape Characters

In [19]:
print('\\File\\System\\') # \\ for \
print('New\nLine') # \n for new line
print('A a B b C c D d E e\rF f G g H h')
print('I need some \t space') # \t for tab

\File\System\
New
Line
F f G g H h
I need some 	 space
 for \ooo Backspace

In [14]:
# Multiline str indicated by 3 quotation marks using either single or double
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [44]:
a = "Hello, World! My name is Robert and I'm here for your entertainment."
print(a[1], # first elemet
      a[:5], # to last element
      a[-14:-1], # - indicates counting from behind ;)
      a[::2], sep='\n') # every x. element

e
Hello
entertainment
Hlo ol!M aei oetadImhr o oretranet

In [30]:
a = "Hello, World!"
len(a)

13

### loop through str

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [4]:
for x in "banana":
    print(x, end=' ')

b a n a n a

### check str

In [32]:
txt = "The best things in life are free!"
"free" in txt

True

### modify str

### .join( )

In [1]:
numList = ['1', '2', '3', '4']
separator = ', '
print(separator.join(numList))
print(' - '.join(numList))

1, 2, 3, 4
1 - 2 - 3 - 4

### .lower( )

In [56]:
a = "Hello, World!"
a.upper()

'HELLO, WORLD!'

### .upper( )

In [57]:
a = "Hello, World!"
a.lower()

'hello, world!'

### .strip( )

In [53]:
a = "Hello, World!"
b = 'Hello, World!'
print(a,
      b,
      a.strip(),
      b.strip(), 
      a == a.strip(), sep='\n')

Hello, World!
Hello, World!
Hello, World!
Hello, World!
True

In [55]:
a = "Hello, World!"
a.replace("H", "J")

'Jello, World!'

In [ ]:
list(combinations(synsets, r=2))

In [58]:
a = 'apple'
j = 'juice'
aj1 = a + j
aj2 = a + "-" + j
aj3 = f'{a}-{j}'
print(aj1,
      aj2,
      aj3, sep='\n')

applejuice
apple-juice
apple-juice

### format str

In [60]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [61]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [62]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## 4. Booleans